body {
  background: #f9e993;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

header, main, footer {
  min-width: 855px;
  overflow: auto;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
}

main {
  background: white;
}

.column-left {
  float: left;
  width: 570px;
}

.column-right {
  float: right;
  width: 285px;
}
